dist:
  module: go.opentelemetry.io/collector/cmd/otelcorecol
  name: kyma-otelcol
  description: OpenTelemetry Collector binary for Kyma.
  version: OTEL_VERSION
  output_path: .
# The ocb binary has an identified bug caused by the fact that some of the providers have been marked stable and the default providers in the ocb binary still use the unstable version.
#  In order to fix this explicitly add the default providers in otel builder config
providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.33.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.33.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpprovider v1.33.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpsprovider v1.33.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.33.0

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver vOTEL_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/filelogreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/prometheusreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/hostmetricsreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/kubeletstatsreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/fluentforwardreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/httpcheckreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8sclusterreceiver vOTEL_CONTRIB_VERSION
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver v0.0.1

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor vOTEL_VERSION
  - gomod: go.opentelemetry.io/collector/processor/memorylimiterprocessor vOTEL_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/k8sattributesprocessor vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor vOTEL_CONTRIB_VERSION
  - gomod: github.com/kyma-project/opentelemetry-collector-components/processor/serviceenrichmentprocessor v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/processor/istionoisefilter v0.0.1

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter vOTEL_VERSION
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter vOTEL_VERSION
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter vOTEL_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/fileexporter vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter vOTEL_CONTRIB_VERSION

extensions:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/storage/filestorage vOTEL_CONTRIB_VERSION
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/k8sleaderelector vOTEL_CONTRIB_VERSION

connectors:
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/connector/routingconnector vOTEL_CONTRIB_VERSION
  - gomod: go.opentelemetry.io/collector/connector/forwardconnector vOTEL_VERSION

replaces:
  # a list of "replaces" directives that will be part of the resulting go.mod
  - github.com/go-resty/resty/v2 => github.com/go-resty/resty/v2 v2.12.0
  - github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver => ../receiver/dummyreceiver
  - github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver => ../receiver/kymastatsreceiver
  - github.com/kyma-project/opentelemetry-collector-components/internal/k8sconfig => ../internal/k8sconfig
  - github.com/kyma-project/opentelemetry-collector-components/processor/serviceenrichmentprocessor => ../processor/serviceenrichmentprocessor
  - github.com/kyma-project/opentelemetry-collector-components/processor/istioenrichmentprocessor => ../processor/istioenrichmentprocessor
