dist:
  module: github.com/kyma-project/opentelemetry-collector-components/cmd/otelkymacol
  name: otelkymacol
  description: Local OpenTelemetry Collector Contrib binary, testing only.
  version: 0.0.1-dev
  otelcol_version: 0.106.1
  output_path: cmd/otelkymacol

receivers:
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/singletonreceivercreator v0.0.1

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.106.1

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.106.1

replaces:
  - github.com/kyma-project/opentelemetry-collector-components/internal/k8sconfig => ../../internal/k8sconfig
  - github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver => ../../receiver/dummyreceiver
  - github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver => ../../receiver/kymastatsreceiver
  - github.com/kyma-project/opentelemetry-collector-components/receiver/singletonreceivercreator => ../../receiver/singletonreceivercreator
