dist:
  module: github.com/kyma-project/opentelemetry-collector-components/cmd/otelkymacol
  name: otelkymacol
  description: Local OpenTelemetry Collector Contrib binary, testing only.
  version: 0.0.1-dev
  output_path: cmd/otelkymacol
# The ocb binary has an identified bug caused by the fact that some of the providers have been marked stable and the default providers in the ocb binary still use the unstable version.
#  In order to fix this explicitly add the default providers in otel builder config
providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.26.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.26.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpprovider v1.26.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/httpsprovider v1.26.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/yamlprovider v1.26.0

receivers:
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver v0.0.1
  - gomod: github.com/kyma-project/opentelemetry-collector-components/receiver/singletonreceivercreator v0.0.1
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/receiver/k8sclusterreceiver v0.120.1


processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.120.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.120.0

replaces:
  - github.com/kyma-project/opentelemetry-collector-components/internal/k8sconfig => ../../internal/k8sconfig
  - github.com/kyma-project/opentelemetry-collector-components/receiver/dummyreceiver => ../../receiver/dummyreceiver
  - github.com/kyma-project/opentelemetry-collector-components/receiver/kymastatsreceiver => ../../receiver/kymastatsreceiver
  - github.com/kyma-project/opentelemetry-collector-components/receiver/singletonreceivercreator => ../../receiver/singletonreceivercreator
