name: All Checks Passed

permissions:
  contents: read

on:
  pull_request:
    types:
      [
        opened,
        synchronize,
        reopened,
        ready_for_review,
        edited,
        labeled,
        milestoned,
      ]
jobs:
  all-checks:
    runs-on: ubuntu-latest
    permissions:
      checks: read # Required for checking the status of actions
      contents: read
    steps:
      - uses: wechuli/allcheckspassed@1d00cf0c34c4b0805db8866d8913f22e7125301e # v2.3.0
        with:
          retries: "30"
          polling_interval: "1"
